@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Roman.otf);
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Medium.otf);
  font-weight: 500;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  background: none;
  font-size: 16rem;
  font-family: "Helvetica Neue", sans-serif;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #111;
  font-size: calc(100vw / 1920);
}

.container {
  width: 100%;
  max-width: 1720rem;
  margin: 0 auto;
}

.connect-button {
  border-bottom: 0.50rem solid white;
  padding: 5rem 0rem;
  display: flex;
  align-items: center;
  gap: 5rem;

  font-weight: 400;
  font-size: 22rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  svg {
    width: 25rem;
    height: 25rem;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 50rem 0 0;
  }
}

.nav-item {

  font-weight: 400;
  font-size: 20rem;
  color: white;
  cursor: pointer;
}

.header-logo {
  width: 95rem;
  position: relative;

  img {
    width: 100%;
  }
}

.header-nav {
  display: flex;
  gap: 50rem;
}

.hero-balloon {
  width: 809rem;
  height: 812rem;
  position: absolute;
  animation: balloon 4s ease infinite;

  img {
    opacity: 0;
    transition: all .4s ease;
    width: 100%;
    height: 100%;
    position: absolute;

    &.active {
      opacity: 1;
    }
  }
}

@keyframes balloon {
  0% {
    rotate: 10deg;
  }

  50% {
    rotate: -10deg;
  }

  100% {
    rotate: 10deg;
  }
}

.hero {
  position: relative;
  height: 1080rem;
  overflow: hidden;
  padding: 168rem 0 104rem;

  .container {
    display: flex;
    justify-content: flex-end;

  }

  .wrapper {
    position: relative;
    display: flex;
    gap: 20rem;
    width: 100%;
    max-width: 850rem;
    justify-content: flex-end;
    margin-top: 44rem;
  }

  .item {
    display: flex;
    justify-content: center;
    position: relative;
    height: 650rem;
    border-radius: 100rem;
    border: 1rem solid rgba(255, 255, 255, 0.7);
    overflow: hidden;
    width: 100%;
    max-width: 200rem;
    transition: all .4s ease;
    padding: 50rem;
    cursor: pointer;

    * {

      transition: all .4s ease;
    }

    svg {
      position: absolute;
      top: 50rem;
      left: 50rem;
      z-index: 2;
      transition: all .4s ease;
      opacity: 0;
    }

    &.active {
      max-width: 415rem;

      svg {
        opacity: 1;
      }

      .texts {
        top: auto;
        bottom: 0;
        transform: translate(0, 0);
        left: 0;
        padding: 50rem;
      }

      .heading {
        margin-bottom: 10rem;
      }

      .text {
        visibility: visible;
        opacity: 1;
        max-height: 100rem;
        max-width: 315rem;
      }
    }

    &::after {
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: .4;
      position: absolute;
    }

    .texts {
      width: fit-content;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      position: absolute;
      z-index: 2;
      padding: 0;
    }

    .text {
      max-width: 0rem;
      max-height: 0;
      opacity: 0;
      transition: all .4s ease;

      font-weight: 300;
      font-size: 20rem;
      color: white;
    }

    .heading {

      font-weight: 400;
      font-size: 30rem;
      text-transform: uppercase;
      color: white;
      width: fit-content;
    }

    .bg {
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.tarifs {
  padding-bottom: 100rem;
  overflow: hidden;
  position: relative;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20rem;
    transition: all .4s ease;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      max-height: 1080rem;
    }

    &.green {
      .item {
        &::after {
          background: linear-gradient(219deg, rgba(15, 16, 17, 0.8) 0%, rgba(70, 200, 114, 0.8) 100%);
        }
      }
    }

    &.orange {
      .item {
        &::after {
          background: linear-gradient(219deg, rgba(15, 16, 17, 0.8) 0%, rgba(206, 130, 66, 0.8) 100%);
        }
      }
    }
  }

  .heading {

    font-weight: 400;
    font-size: 160rem;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    text-align: center;
    transform: translateY(85rem);
  }

  .item {
    overflow: hidden;
    border: 0.50rem solid rgba(255, 255, 255, 0.7);
    border-radius: 50rem;
    padding: 50rem;
    padding-right: 43rem;
    backdrop-filter: blur(30rem);
    background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, #111 0%, #2b2b2b 100%);
    transition: all .4s ease;
    height: 415rem;

    &:nth-child(3),
    &:nth-child(4) {
      grid-column: span 2;
    }

    .icon {
      position: relative;
      z-index: 2;
      width: 100rem;
      transition: all .4s ease;
      max-height: 100rem;
    }

    .texts {
      margin-top: 10rem;
      position: relative;
      z-index: 2;
      max-height: 169rem;
      overflow: hidden;
      transition: all .4s ease;
      max-width: 315rem
    }

    .item-heading {
      display: flex;
      align-items: center;
      gap: 10rem;

      .heading-text {

        font-weight: 500;
        font-size: 40rem;
        text-transform: uppercase;
        background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      svg {
        width: 30rem;
        flex-shrink: 0;
        transition: all .4s ease;
        opacity: 1;
      }
    }

    .text-list {

      font-weight: 300;
      font-size: 20rem;
      color: white;
      margin-top: 20rem;
      line-height: 130%;
    }

    .price {

      font-weight: 500;
      font-size: 22rem;
      text-transform: uppercase;
      background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-radius: 100rem;
      border: 1rem solid white;
      padding: 15rem;
      text-align: center;
      line-height: 100%;
      transition: all .4s ease;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(224deg, rgba(17, 17, 17, 0.5) 0%, rgba(57, 135, 255, 0.5) 100%);
      opacity: 0;
      transition: all .4s ease;
    }

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .connect-button {
      position: relative;
      z-index: 2;
      width: fit-content;
    }

    &.last {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .texts {
        margin-top: 0;
      }
    }

    &:hover {
      padding: 23rem 43rem 32rem 50rem;

      &.last {
        padding: 50rem;

        &::after {
          opacity: 0;
        }
      }

      &::after {
        opacity: 1;
      }

      .icon {
        max-height: 0;
      }

      .texts {
        margin-top: 0;
        max-height: 500rem;
      }

      .price {
        margin-top: 20rem;
      }

      .item-heading {
        svg {
          opacity: 0;
        }
      }

    }
  }

}


.plusses {
  padding: 100rem 0;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22rem;
  }

  &.orange {
    .heading {
      font-size: 120rem;
      font-weight: 400;
      background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: #111;
      /* убираем заливку */
      -webkit-text-stroke: 2rem transparent;
      /* обводка из градиента */
      color: transparent;
    }
  }

  &.green {
    .heading {
      font-size: 120rem;
      font-weight: 400;
      background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: #111;
      /* убираем заливку */
      -webkit-text-stroke: 2rem transparent;
      /* обводка, берется из background */
      color: transparent;
    }
  }


  .heading {

    font-size: 120rem;
    font-weight: bold;
    background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #111;
    /* убираем заливку */
    -webkit-text-stroke: 2rem transparent;
    /* обводка, берется из background */
    color: transparent;
  }

  .text {

    font-weight: 300;
    font-size: 20rem;
    color: white;
  }

}

.portfolio {
  padding-bottom: 100rem;

  .swiper {
    width: 100%;
    height: 420rem;
    /* или нужная вам высота */
    padding: 20rem 0;
    margin-bottom: 50rem;
  }

  .heading {

    font-weight: 400;
    font-size: 160rem;
    line-height: 120%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: white;
    transform: translateY(87rem);
    width: 100%;
    text-align: center;
  }

  .swiper-slide {
    width: auto;
    /* ширина по изображению */
    height: 100%;
    opacity: 0.2;
    /* неактивные слайды полупрозрачные */
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }

  .swiper-slide-active {
    opacity: 1;
    /* активный слайд полностью видим */
    transform: scale(1.05);
    /* небольшое увеличение */
    cursor: default;
  }

  .swiper-slide img {
    width: auto;
    height: 100%;
    object-fit: cover;
    border-radius: 10rem;
  }

  .tabs-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20rem;
    gap: 20rem 7rem;
    flex-wrap: wrap;

    &:last-child {
      margin-bottom: 0;
    }

    .item {
      cursor: pointer;
      border: 0.50rem solid rgba(255, 255, 255, 0.7);
      border-radius: 100rem;
      padding: 22rem 40rem;
      background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, #111 0%, #2b2b2b 100%);
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 400;
      font-size: 22rem;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      color: white;
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 100rem;
        transition: all .4s ease;
        opacity: 0;
        background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
      }

      &.orange {
        &::after {
          background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
        }
      }

      &.green {
        &::after {
          background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);

        }
      }

      span {
        position: relative;
        z-index: 2;

        font-weight: 400;
        font-size: 22rem;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: white;
      }

      &.active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.contacts {
  padding-top: 100rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .seti {
    display: flex;
    align-items: center;
  }

  .item {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, #11111170 0%, #2b2b2b6b 100%);
    align-items: center;
    justify-content: center;
    color: #8b91ff;
    font-size: 24px;
    font-weight: 500;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 50%;
      padding: 1px;
      /* толщина границы */
      background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }

    &.orange {

      &::before {
        background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
      }

      span {
        background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &.green {

      &::before {
        background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
      }

      span {
        background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    &:nth-child(1) {
      position: relative;
      z-index: 3;

    }

    &:nth-child(2) {
      position: relative;
      left: -35px;
      z-index: 2;

    }

    &:nth-child(3) {
      position: relative;
      left: -70px;
      z-index: 1;
    }

    span {

      font-weight: 400;
      font-size: 22px;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .heading {

    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
    color: white;
  }
}


.footer {
  padding: 100rem 0 50rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p,
  a {

    font-weight: 400;
    font-size: 20px;
    color: white;
  }
}

.payment-modal {
  position: fixed;
  top: 130rem;
  left: 308rem;
  border: 0.50px solid white;
  border-radius: 0 50px 50px 50px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.57);
  width: 600rem;
  padding: 20rem 20rem 45rem;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .close {
    position: absolute;
    top: 30rem;
    right: 30rem;
    cursor: pointer;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20rem;
  }

  .logo {
    width: 37rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 15px 0px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 49.52%, rgba(255, 255, 255, 0) 100%);
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }

  .heading {
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

  .pay {
    border: 0.20px solid rgba(255, 255, 255, 0.7);
    border-radius: 100px;
    padding: 5px 15px;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0);
    font-weight: 400;
    font-size: 20px;
    color: white;
  }

}

.closePopups {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 10;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
