@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  color: white;
  background: none;
  font-size: 16rem;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Roman.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url(../media/font/HelveticaNeue-Medium.otf);
  font-weight: 500;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #111;
  font-size: 0.0520833333vw;
}

.container {
  width: 100%;
  max-width: 1720rem;
  margin: 0 auto;
}

.connect-button {
  border-bottom: 0.5rem solid white;
  padding: 5rem 0rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 22rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.connect-button svg {
  width: 25rem;
  height: 25rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.header .container {
  display: flex;
  justify-content: space-between;
  padding: 50rem 0 0;
}

.nav-item {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20rem;
  color: white;
}

.header-logo {
  width: 95rem;
  position: relative;
}
.header-logo img {
  width: 100%;
}

.header-nav {
  display: flex;
  gap: 50rem;
}

.hero-balloon {
  width: 809rem;
  height: 812rem;
  position: absolute;
  animation: balloon 4s ease infinite;
}
.hero-balloon img {
  opacity: 0;
  transition: all 0.4s ease;
  width: 100%;
  height: 100%;
  position: absolute;
}
.hero-balloon img.active {
  opacity: 1;
}

@keyframes balloon {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: -10deg;
  }
  100% {
    rotate: 10deg;
  }
}
.hero {
  position: relative;
  height: 1080rem;
  overflow: hidden;
  padding: 168rem 0 104rem;
}
.hero .container {
  display: flex;
  justify-content: flex-end;
}
.hero .wrapper {
  position: relative;
  display: flex;
  gap: 20rem;
  width: 100%;
  max-width: 850rem;
  justify-content: flex-end;
  margin-top: 44rem;
}
.hero .item {
  display: flex;
  justify-content: center;
  position: relative;
  height: 650rem;
  border-radius: 100rem;
  border: 1rem solid rgba(255, 255, 255, 0.7);
  overflow: hidden;
  width: 100%;
  max-width: 200rem;
  transition: all 0.4s ease;
  padding: 50rem;
  cursor: pointer;
}
.hero .item * {
  transition: all 0.4s ease;
}
.hero .item.active {
  max-width: 415rem;
}
.hero .item.active .texts {
  top: auto;
  bottom: 0;
  transform: translate(0, 0);
  left: 0;
  padding: 50rem;
}
.hero .item.active .heading {
  margin-bottom: 10rem;
}
.hero .item.active .text {
  visibility: visible;
  opacity: 1;
  max-height: 100rem;
  max-width: 315rem;
}
.hero .item::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.4;
  position: absolute;
}
.hero .item .texts {
  width: fit-content;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  position: absolute;
  z-index: 2;
  padding: 0;
}
.hero .item .text {
  max-width: 0rem;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20rem;
  color: white;
}
.hero .item .heading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30rem;
  text-transform: uppercase;
  color: white;
  width: fit-content;
}
.hero .item .bg {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarifs {
  padding-bottom: 100rem;
  overflow: hidden;
  position: relative;
}
.tarifs .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20rem;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
}
.tarifs .wrapper.active {
  opacity: 1;
  visibility: visible;
  position: relative;
  max-height: 1080rem;
}
.tarifs .wrapper.green .item::after {
  background: linear-gradient(219deg, rgba(15, 16, 17, 0.8) 0%, rgba(70, 200, 114, 0.8) 100%);
}
.tarifs .wrapper.orange .item::after {
  background: linear-gradient(219deg, rgba(15, 16, 17, 0.8) 0%, rgba(206, 130, 66, 0.8) 100%);
}
.tarifs .heading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 160rem;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
  transform: translateY(85rem);
}
.tarifs .item {
  overflow: hidden;
  border: 0.5rem solid rgba(255, 255, 255, 0.7);
  border-radius: 50rem;
  padding: 50rem;
  padding-right: 43rem;
  backdrop-filter: blur(30rem);
  background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, #111 0%, #2b2b2b 100%);
  transition: all 0.4s ease;
  height: 415rem;
}
.tarifs .item:nth-child(3), .tarifs .item:nth-child(4) {
  grid-column: span 2;
}
.tarifs .item .icon {
  position: relative;
  z-index: 2;
  width: 100rem;
  transition: all 0.4s ease;
  max-height: 100rem;
}
.tarifs .item .texts {
  margin-top: 10rem;
  position: relative;
  z-index: 2;
  max-height: 169rem;
  overflow: hidden;
  transition: all 0.4s ease;
  max-width: 315rem;
}
.tarifs .item .item-heading {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.tarifs .item .item-heading .heading-text {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 40rem;
  text-transform: uppercase;
  background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tarifs .item .item-heading svg {
  width: 30rem;
  flex-shrink: 0;
  transition: all 0.4s ease;
  opacity: 1;
}
.tarifs .item .text-list {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20rem;
  color: white;
  margin-top: 20rem;
  line-height: 130%;
}
.tarifs .item .price {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 22rem;
  text-transform: uppercase;
  background: linear-gradient(67deg, #fff 0%, #d0d4de 49.72%, #fff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 100rem;
  border: 1rem solid white;
  padding: 15rem;
  text-align: center;
  line-height: 100%;
  transition: all 0.4s ease;
}
.tarifs .item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(224deg, rgba(17, 17, 17, 0.5) 0%, rgba(57, 135, 255, 0.5) 100%);
  opacity: 0;
  transition: all 0.4s ease;
}
.tarifs .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tarifs .item .connect-button {
  position: relative;
  z-index: 2;
  width: fit-content;
}
.tarifs .item.last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarifs .item.last .texts {
  margin-top: 0;
}
.tarifs .item:hover {
  padding: 23rem 43rem 32rem 50rem;
}
.tarifs .item:hover.last {
  padding: 50rem;
}
.tarifs .item:hover.last::after {
  opacity: 0;
}
.tarifs .item:hover::after {
  opacity: 1;
}
.tarifs .item:hover .icon {
  max-height: 0;
}
.tarifs .item:hover .texts {
  margin-top: 0;
  max-height: 500rem;
}
.tarifs .item:hover .price {
  margin-top: 20rem;
}
.tarifs .item:hover .item-heading svg {
  opacity: 0;
}

.plusses {
  padding: 100rem 0;
}
.plusses .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22rem;
}
.plusses.orange .heading {
  font-size: 120rem;
  font-weight: 400;
  background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111;
  /* убираем заливку */
  -webkit-text-stroke: 2rem transparent;
  /* обводка из градиента */
  color: transparent;
}
.plusses.green .heading {
  font-size: 120rem;
  font-weight: 400;
  background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111;
  /* убираем заливку */
  -webkit-text-stroke: 2rem transparent;
  /* обводка, берется из background */
  color: transparent;
}
.plusses .heading {
  font-size: 120rem;
  font-weight: bold;
  background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111;
  /* убираем заливку */
  -webkit-text-stroke: 2rem transparent;
  /* обводка, берется из background */
  color: transparent;
}
.plusses .text {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 20rem;
  color: white;
}

.portfolio {
  padding-bottom: 100rem;
}
.portfolio .swiper {
  width: 100%;
  height: 420rem;
  /* или нужная вам высота */
  padding: 20rem 0;
  margin-bottom: 50rem;
}
.portfolio .heading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 160rem;
  line-height: 120%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: white;
  transform: translateY(87rem);
  width: 100%;
  text-align: center;
}
.portfolio .swiper-slide {
  width: auto;
  /* ширина по изображению */
  height: 100%;
  opacity: 0.2;
  /* неактивные слайды полупрозрачные */
  transition: opacity 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.portfolio .swiper-slide-active {
  opacity: 1;
  /* активный слайд полностью видим */
  transform: scale(1.05);
  /* небольшое увеличение */
  cursor: default;
}
.portfolio .swiper-slide img {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 10rem;
}
.portfolio .tabs-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
  gap: 20rem 7rem;
  flex-wrap: wrap;
}
.portfolio .tabs-wrapper:last-child {
  margin-bottom: 0;
}
.portfolio .tabs-wrapper .item {
  cursor: pointer;
  border: 0.5rem solid rgba(255, 255, 255, 0.7);
  border-radius: 100rem;
  padding: 22rem 40rem;
  background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, #111 0%, #2b2b2b 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 22rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
  position: relative;
}
.portfolio .tabs-wrapper .item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 100rem;
  transition: all 0.4s ease;
  opacity: 0;
  background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
}
.portfolio .tabs-wrapper .item.orange::after {
  background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
}
.portfolio .tabs-wrapper .item.green::after {
  background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
}
.portfolio .tabs-wrapper .item span {
  position: relative;
  z-index: 2;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 22rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: white;
}
.portfolio .tabs-wrapper .item.active::after {
  opacity: 1;
}

.contacts {
  padding-top: 100rem;
}
.contacts .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .seti {
  display: flex;
  align-items: center;
}
.contacts .item {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  background: radial-gradient(67.59% 67.59% at 50.12% 50.13%, rgba(17, 17, 17, 0.4392156863) 0%, rgba(43, 43, 43, 0.4196078431) 100%);
  align-items: center;
  justify-content: center;
  color: #8b91ff;
  font-size: 24px;
  font-weight: 500;
}
.contacts .item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  /* толщина границы */
  background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.contacts .item.orange::before {
  background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
}
.contacts .item.orange span {
  background: linear-gradient(37deg, #a75b1b 0%, #ce8242 50%, #fdb171 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts .item.green::before {
  background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
}
.contacts .item.green span {
  background: linear-gradient(210deg, #82f2a8 0%, #10933c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts .item:nth-child(1) {
  position: relative;
  z-index: 3;
}
.contacts .item:nth-child(2) {
  position: relative;
  left: -35px;
  z-index: 2;
}
.contacts .item:nth-child(3) {
  position: relative;
  left: -70px;
  z-index: 1;
}
.contacts .item span {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: linear-gradient(219deg, #7327f0 0%, #8b91ff 50.47%, #2685ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contacts .heading {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 100px;
  text-transform: uppercase;
  color: white;
}

.footer {
  padding: 100rem 0 50rem;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer p,
.footer a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
}

/*# sourceMappingURL=style.css.map */
